.header {
  @media screen and(min-width: 641px) {
    display: none;
  }
  @media screen and(max-width: 640px) {
    padding: 10px 20px;
    padding-bottom: 30px;
  }
}
.header__section--nav {
  @media screen and(max-width: 640px) {
    max-width: 500px;
  }
}

.header__container--flex {
  @media screen and(max-width: 640px) {
    display: flex;
    align-items: center;
    max-width: 500px;
  }
  @media screen and(max-width: 480px) {
    display: none;
  }
}
.header-list__link {
  @media screen and(max-width: 480px) {
    display: none;
  }

  @media screen and(max-width: 640px) {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.header-list__svg {
  @media screen and(max-width: 640px) {
    width: 17px;
    height: 17px;
    display: block;
    fill: #fff;
  }
}
.header-item__link {
  @media screen and(max-width: 640px) {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    padding-top: 4px;
    padding-left: 4px;
    background-color: #d8c2d4;
  }
}

.section__header--phone {
  font-size: 15px;
  font-family: 'CenturyGothic', Arial, sans-serif;
  font-weight: 700;
  color: #000;
  line-height: 21px;
  margin-left: 30px;
}

.section__header--phone--span {
  line-height: 18px;
  font-weight: 700;
  font-size: 13px;
  font-family: 'CenturyGothic', Arial, sans-serif;
  text-decoration: underline;
}

.about-link__list {
  @media screen and(max-width: 480px) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 5px 0;
  }
  @media screen and(min-width: 481px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
    color: black;
  }
}
.about-link__item {
  @media screen and(max-width: 640px) {
    line-height: 18px;
    font-size: 13px;
    font-family: 'CenturyGothic', Arial, sans-serif;
    font-weight: 700;
  }
}
.about__link {
  @media screen and(max-width: 640px) {
    color: black;
  }
}
.header__title {
  @media screen and(max-width: 640px) {
    width: 168px;
  }
}
