.main {
  padding-bottom: 100px;
  background: #f3f3f3;
}

.user {
  background-color: rgba(13, 43, 109, 1);
  @media screen and (min-width: 1480px) {
    display: flex;
    margin-bottom: 193px;
  }
}

.user__list {
  list-style: none;
}

.user__container {
  padding-top: 72px;
  padding-bottom: 21px;
  padding-left: 201px;
  display: flex;
  @media screen and (max-width: 1479px) {
    padding-left: 30px;
  }
  // width: 1000px;
}

.user__none {
  @media screen and (max-width: 1479px) {
    display: none;
  }
}

.user__item {
  margin-top: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #fda700;
}

.user__text__white {
  color: #fff;
}
.user__item:first-child {
  margin-top: 0;
}

.Prblem {
  padding-top: 80px;
  padding-bottom: 33px;
  width: 767px;
  @media screen and (min-width: 1480px) {
    width: 1380px;
    margin: 0 auto;
    background: #f3f3f3;
    box-shadow: 4px 4px 4px rgba(83, 83, 83, 0.25);
    padding-bottom: 0;
    position: relative;
    padding-bottom: 103px;
  }
}
.problem__list {
  @media screen and (max-width: 1479px) {
    display: block;
  }
  display: flex;
  gap: 20px;
}

.problem__item {
  @media screen and (min-width: 1480px) {
  }
}
.Problema__title {
  font-family: 'Orchidea Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 100%; /* 50px/50 */
  text-transform: uppercase;
  color: #373737;
  text-align: center;
}

.decision__text {
  color: #000000;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
}

.Problem__title-text {
  @media screen and (max-width: 1479px) {
    width: 718px;
  }
  width: 289px;
  padding: 11px 0;
  background: #0d2b6d;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  font-family: 'Orchidea Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 14px;

  color: #fda700;
}
.span__contain__text {
  color: #fda700;
}

.Problem__text_contain {
  @media screen and (max-width: 1479px) {
    width: 680px;
  }
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #373737;
  margin-bottom: 20px;
  width: 289px;
}

.Problem__contain--svg {
  background-color: #0d2b6d;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  margin-top: 58px;
  margin-left: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  @media screen and (min-width: 1480px) {
    position: absolute;
    bottom: -54px;
    left: 600px;
    margin-left: 0;
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
    outline: 2px solid orange;
  }
}

.decision {
  @media screen and (min-width: 1480px) {
    display: none;
  }

  padding-left: 24px;
  margin-top: 68px;
  max-width: 767px;
}

.decision__title {
  font-family: 'Orchidea Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 100%; /* 50px/50 */
  text-transform: uppercase;
  color: #373737;
  text-align: center;
}

.ecision__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.start {
  @media screen and (min-width: 1480px) {
    display: none;
  }
  padding-left: 24px;
  width: 767px;
  margin-top: 73px;
}

.start__title {
  font-family: 'Orchidea Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 100%; /* 50px/50 */
  text-align: center;
  text-transform: uppercase;
  color: #373737;
}

.start__block {
  padding: 0 27px;
  width: 723px;
  background: #f3f3f3;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 20px;
  position: relative;
  height: 152px;
}

.start__block:last-child {
  margin-bottom: 0;
}

.start__text__title {
  font-family: 'Orchidea Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #fda700;
}

.start__text__title--right {
  padding-top: 12px;
}

.start__text__title--margin {
  padding-top: 48px;
}

.text__deposite {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #373737;

  width: 415px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.start__img {
  position: absolute;
  top: 0;
  left: 27px;
  width: 64px;
  height: 92px;
}

.start__text-decor {
  position: absolute;
  top: 10px;
  left: 42px;
  font-family: 'Orchidea Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 101.666667%; /* 61px/60 */
  text-align: center;
  text-transform: uppercase;
  color: #fda700;
}
.start__text-decor--two {
  top: 10px;
  right: -560px;
}
.start__img--right {
  position: absolute;
  top: 0;
  right: 27px;
}

.none {
  display: none;
}

.user__img {
  display: block;
  height: auto;
  border: 50%;
}
