<header class="header">
 <nav class="header__nav">
  <a class="logo__link" href="./index.html">
   <svg width="185" height="52">
    <use class="logo" href="./images//svg/sprite.svg#logo"></use>
   </svg>
  </a>
  <ul class="header__nav__list">
   <li class="header__nav__item header__nav__text">OFFERTA RISERVATA AI
    TRADER Ukraine</li>
   <li class="header__nav__item  header__nav__item--margin "><a class="header__nav__link" href="./">Crea un account</a>
   </li>
  </ul>
 </nav>
 <div class="container__text__title--flex">
  <div>
   <p class="header__text__title">
    L'investimento intelligente
    che ti farà guadagnare </br>
    €9.288 in 5 ore </br>
    <span class="header__text__title--span">ed eliminare la povertà</span>
   </p>
   <p class="header__text__about">
    Con il nostro investimento intelligente potrai
    guadagnare migliaia di euro in meno di 7 giorni
    ed eliminare la povertà ottenendo profitti!
   </p>
   <div class="block__logo__elive">
    <img src="./images/header/logo__Elive.png" alt="elive">
    <p class="block__logo__elive--text">Adesso il computer di quantum computing
     numero uno al mondo</p>
    <button class="block__elive__button" type="button">ÈLIVE!</button>
   </div>
  </div>
  <div class="video__container">
   <a href="./" class="video__link">
    <svg class="video__svg" width="20" height="17">
     <use href="./images/svg/sprite.svg#Polygon"></use>
    </svg>
   </a>
   <p class="video__text">video</p>
  </div>
  <div>
  </div>
  <form class="form" autocomplete="off">
   <h2 class="form__title">Registrazione</h2>
   <div class="container__form__lable">
    <input class="form__input" type="text" id="Name">
    <label class="form__lable" for="Name"> Name
    </label>
   </div>
   <div class="container__form__lable">
    <input class="form__input" type="text" id="Cognome">
    <label class="form__lable" for="Cognome">Cognome
    </label>
   </div>
   <div class="container__form__lable">
    <input class="form__input" type="text" id="mail">
    <label class="form__lable" for="mail">Email
    </label>
   </div>
   <div class="container__form__lable">
    <input class="form__input" type="tel" id="telephone">
    <label class="form__lable" for="telephone">
     <select class="selected__from" id="telephone">
      <option class="form__options" value="uk" selected>
       <img src="./images/form/uk.jpg" alt="uk">
       380
      </option>
      <option class="form__options" value="USA">0432</option>
      <option class="form__options" value="SP">9832</option>
      <option class="form__options" value="GR">45421</option>
     </select>
    </label>
   </div>
   <button class="form__button" type="submit">Registrati</button>
  </form>

 </div>

</header>