<header class="header">
 <section class="header__section--nav">
  <div class="header__container--flex">
   <ul class="header-list__link">
    <li class="header-item__link"><a
      href="https://api.whatsapp.com/send/?phone=380930587191&text&type=phone_number&app_absent=0">
      <svg class="header-list__svg">
       <use href="./images/svg/sprite.svg#viber"></use>
      </svg></li>
    <li class="header-item__link"><a
      href="https://api.whatsapp.com/send/?phone=380930587191&text&type=phone_number&app_absent=0">
      <svg class="header-list__svg">
       <use href="./images/svg/sprite.svg#phone"></use>
      </svg></li>
    <li class="header-item__link"><a
      href="https://api.whatsapp.com/send/?phone=380930587191&text&type=phone_number&app_absent=0">
      <svg class="header-list__svg">
       <use href="./images/svg/sprite.svg#telegram"></use>
      </svg></li>
    </a>
    <a href="https://robeauty.me/01">
     <img class="header__title"
      src="https://thumb.tildacdn.com/tild6433-3366-4262-a563-623239303939/-/resize/376x/-/format/webp/noroot.png"
      alt="">
    </a>
    <a class="section__header--phone" href="tel:+380930587191">+380930587191
     <br> <span class="section__header--phone--span">Замовти дзвінок</span>
    </a>
  </div>
  <ul class="about-link__list">
   <li class="about-link__item">Каталог</li>
   <li class="about-link__item">ОПТ</li>
   <li class="about-link__item">Доставка/Оплата</li>
   <li class="about-link__item">Конаткти</li>
   <li class="about-link__item">Гарантія</li>
  </ul>
 </section>
</header>