<main class="main">
 <section class="main__about">
  <div class="block_about__text">
   <h2 class="main__title">Зроби свою шкіру <br><span class="main__title--span">Сексуальною за 2 хвилини</span></h2>
   <h3 class="main__text__h3">З шимиром від <span class="main__text__h3--span">Robeauty</span></h3>
   <button type="button" class="main__button">Купи зі <br> знижкою 50%</button>
  </div>
  <div class="main__block__img">
   <img class="block__img"
    src="https://thumb.tildacdn.com/tild3461-6362-4765-b238-653033303438/-/resize/1000x/-/format/webp/___18_4.png"
    alt="">
  </div>
  <div class="img__about__oil">
   <img class="img__about__oil--center"
    src="https://thumb.tildacdn.com/tild3633-3666-4236-b232-343636373262/-/resize/960x/-/format/webp/___21.png" alt="">
  </div>
 </section>
</main>
<section>
 <section class="shimmer">
  <div class="shimmer--container">
   <h2 class="shimer__title">Шиммер ROBEAUTY робить шкіру сексуальною</h2>
   <img class="shimer__img--title"
    src="https://thumb.tildacdn.com/tild3664-3462-4133-b334-663465316261/-/format/webp/DSC_5097.jpg" alt="photo">
   <ul class="shimmer__list">
    <li class="shimmer__item">Аромат і колір вибираєте ви самі</li>
    <li class="shimmer__item">Маскує недоліки шкіри</li>
    <li class="shimmer__item">Пом'якшує та зволожує шкіру</li>
   </ul>
  </div>
 </section>
</section>