<main class="main">
 <section class="user">
  <div class="user__container">
   <img class="user__img" src="./images/user/Ellipse_1.png" alt="user">
   <ul class="user__list">
    <li class="user__item user__text__white">Harold Barnes ha ottenuto</li>
    <li class="user__item user__text__white">€235</li>
    <li class="user__item">Saldo attuale: €132 </li>
   </ul>
  </div>
  <div class="user__container user__none">
   <img class="user__img" src="./images/user/Ellipse_2.png" alt="user">
   <ul class="user__list">
    <li class="user__item user__text__white">Harold Barnes ha ottenuto</li>
    <li class="user__item user__text__white">€235</li>
    <li class="user__item">Saldo attuale: €132 </li>
   </ul>
  </div>
  </div>
  <div class="user__container user__none">
   <img class="user__img" src="./images/user/Ellipse_3.png" alt="user">
   <ul class="user__list">
    <li class="user__item user__text__white">Harold Barnes ha ottenuto</li>
    <li class="user__item user__text__white">€235</li>
    <li class="user__item">Saldo attuale: €132 </li>
   </ul>
   <div>
 </section>
 <section class="Prblem">
  <h2 class="Problema__title">Problema</h2>
  <ul class="problem__list none">
   <li class="problem__item">
    <h3 class="Problem__title-text">Problema 1</h3>
    <p class="Problem__text_contain">Problema 1
     La povertà è un problema lobale che desideriamo risolvere definitivamente. Investendo <span
      class="span__contain__text">€ 250</span>, ci
     aiuterai all'istante a
     salvare la vita delle persone guadagnando!</p>
   </li>
   <li class="problem__item">
    <h3 class="Problem__title-text">Problema 2</h3>
    <p class="Problem__text_contain">Le grandi aziende sono le sole a poter erogare stipendi consistenti. Tuttavia,
     grazie al quantum computing, questa
     realtà sta per cambiare. Da oggi, sarai TU stesso l'artefice di un grande introito, grazie al potere che un tempo
     era
     riservato alle persone più ricche e che adesso appartiene anche a te.</p>
   </li>
   <li class="problem__item">
    <h3 class="Problem__title-text">Problema 3</h3>
    <p class="Problem__text_contain">Problema 1
     QuantumAI è stato progettato per rendere il mondo un posto migliore. Elon ha sviluppato un'idea vantaggiosa per
     tutti.
     Hai prestiti da restituire o un mutuo da pagare? Desideri aiutare le persone? Ora potrai fare entrambe le cose.</p>
   </li>
   <li class="problem__item">
    <h3 class="Problem__title-text">Problema 4</h3>
    <p class="Problem__text_contain">Problema 1
     Gestire l'economia di un Paese
     è una missione molto delicata. Come dimostrato dagli avvenimenti del 2008, bastano poche persone al vertice per
     rovinarla. Noi vogliamo impedire che ciò accada di nuovo.</p>
   </li>
  </ul>
  <div class="Problem__contain--svg">
   <svg class="Problem__svg" id="arrow-down" width="49" height="25">
    <use href="./images/svg/sprite.svg#Vector"></use>
   </svg>
   <svg class="Problem__svg none" id="arrow-up" width="49" height="25">
    <use href="./images/svg/sprite.svg#vector-up"></use>
   </svg>
  </div>
 </section>
 <section class="decision">
  <h2 class="decision__title">
   Soluzione
  </h2>
  <p class="decision__text">Utilizzando la potenza del quantum computing ci aiuterai a raggiungere i privilegi che
   attualmente sono destinati
   soltanto all'1% delle persone, nonché a risolvere 4 grandi problematiche: sviluppare un'economia stabile e ricca per
   tutti, eliminare la povertà, offrire a tutti uno stile di vita dignitoso (così che non siano soltanto i ricchi ad
   averlo) e aiutarti a realizzare i tuoi sogni finanziari!
  </p>
 </section>

 <section class="start">
  <h2 class="start__title">Ecco come iniziare:</h2>
  <div class="start__block">
   <img class="start__img" src="./images/start/Rectangle.png" alt="number">
   <p class="start__text-decor">1</p>
   <h3 class="start__text__title start__text__title--margin">
    Deposita
   </h3>
   <p class="text__deposite">Deposita€ 250
   </p>
  </div>
  <div class="start__block">
   <img class="start__img--right" src="./images/start/Rectangle.png" alt="number">
   <p class="start__text-decor start__text-decor--two">2</p>
   <h3 class="start__text__title start__text__title--right">
    Scegli
   </h3>
   <p class="text__deposite">Scegli le operazioni raccomandate
    da QuantumAI (grazie alla potenza
    dell'informatica quantistica!) </p>
  </div>
  <div class="start__block">
   <img class="start__img" src="./images/start/Rectangle.png" alt="number">
   <p class="start__text-decor">3</p>
   <h3 class="start__text__title start__text__title--margin">
    Preleva
   </h3>
   <p class="text__deposite ">Preleva qualsiasi importo in poche ore!
   </p>
  </div>
 </section>
</main>